<!-- Sidebar inner slimmscroll -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-inner ">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <!-- MAIN -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">DASHBOARD</h6>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="grid"></i>
                <span>Super Admin</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>
                <li>
                  <a href="/">
                    <span>Dashboard Admin</span>
                  </a>
                </li>
                <li>
                  <a href="subscriptions.html">
                    <span>Subscriptions</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-tunggal"><a href="sales-dashboard.html"><i data-feather="trending-up"></i> <span> Sales
                  Dashboard</span> </a></li>
            <li class="menu-tunggal"><a href="kalkulator-dashboard.html"><i data-feather="percent"></i> <span>
                  Kalkulator
                  Dashboard</span> </a></li>
            <li class="menu-tunggal"><a href="analytics-dashboard.html"><i data-feather="bar-chart"></i> <span>Analytics
                  Dashboard </span> </a></li>
          </ul>
        </li>

        <!-- SALES -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">SALES</h6>
          <ul>
            <li class="menu-tunggal">
              <a href="sales.html">
                <i data-feather="trending-up"></i>
                <span>Sales</span>
              </a>
            </li>
            <!-- <li class="menu-tunggal">
              <a href="billing.html">
                <i data-feather="file-text"></i>
                <span>Billing</span>
              </a>
            </li> -->
            <li class="menu-tunggal">
              <a href="invoice.html">
                <i data-feather="file-text"></i>
                <span>Invoice</span>
              </a>
            </li>
            <li class="menu-tunggal">
              <a href="delivery-note.html">
                <i data-feather="file-text"></i>
                <span>Delivery Note</span>
              </a>
            </li>
            <li class="menu-tunggal"><a href="sales-return.html">
                <i data-feather="git-pull-request"></i>
                <span>Sales Return</span>
              </a></li>
            <li class="menu-tunggal"><a href="quotation.html">
                <i data-feather="save"></i>
                <span>Quotation</span>
              </a></li>
            <li class="menu-tunggal"><a href="request-quotation.html">
                <i data-feather="save"></i>
                <span>Request For Quotation</span>
              </a></li>
            <li class="menu-tunggal"><a href="pos.html">
                <i data-feather="hard-drive"></i>
                <span>POS</span>
              </a></li>
          </ul>
        </li>

        <!-- payment -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">PAYMENT</h6>
          <ul>
            <li class="menu-tunggal"><a href="payment-inflow.html">
                <i data-feather="shopping-bag"></i>
                <span>Payment-IN</span>
              </a>
            </li>
            <li class="menu-tunggal"><a href="payment-outflow.html">
                <i data-feather="file-minus"></i>
                <span>Payment-OUT</span>
              </a></li>

          </ul>
        </li>

        <!-- WORKFLOW -->
        <!-- WORKFLOW -->
<li class="submenu-open">
  <h6 class="submenu-hdr">WORKFLOW</h6>
  <ul>
    <li class="menu-tunggal"><a href="flow-category.html"><i data-feather="grid"></i><span>Flow Category</span></a></li>
    <li class="menu-tunggal"><a href="flow-name.html"><i data-feather="grid"></i><span>Flow Name</span></a></li>
    <li class="menu-tunggal"><a href="flow-template.html"><i data-feather="grid"></i><span>Flow Template</span></a></li>
    <li class="menu-tunggal"><a href="work-flow.html"><i data-feather="grid"></i><span>Work Flow</span></a></li>
  </ul>
</li>


        <!-- ORDERS -->
        <!-- ORDERS -->
<li class="submenu-open">
  <h6 class="submenu-hdr">ORDERS</h6>
  <ul>
    <li class="menu-tunggal"><a href="orders.html"><i data-feather="shopping-bag"></i><span>Orders</span></a></li>
    <li class="menu-tunggal"><a href="job-order.html"><i data-feather="clipboard"></i><span>Job Orders</span></a></li>
    <li class="menu-tunggal"><a href="job-list.html"><i data-feather="clipboard"></i><span>Job List</span></a></li>
    <li class="menu-tunggal"><a href="job-branch.html"><i data-feather="git-branch"></i><span>Job Branch</span></a></li>
    <li class="menu-tunggal"><a href="my-job.html"><i data-feather="check-square"></i><span>My Job</span></a></li>
    <li class="menu-tunggal"><a href="my-incentive.html"><i data-feather="dollar-sign"></i><span>My Incentive</span></a></li>
  </ul>
</li>


        <!-- WEBSTORE -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">WEBSTORE</h6>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="user"></i>
                <span>Customers</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="cart.html"><span>Cart</span></a></li>
                <li><a href="checkout.html"><span>Checkout</span></a></li>
                <li><a href="wishlist.html"><span>Wishlist</span></a></li>
                <li><a href="reviews.html"><span>Reviews</span></a></li>
              </ul>
            </li>
            <li class="menu-tunggal">
              <a href="support-ticket.html">
                <i data-feather="pocket"></i>
                <span>Support Ticket</span>
              </a>
            </li>
            <li class="menu-tunggal"><a href="contact-form.html"><i data-feather="link-2"></i><span> Contact Form</a>
            </li>
          </ul>

        </li>

        <!-- kalkulator -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">CALCULATOR APPS</h6>
          <ul>
            <li class="menu-tunggal"><a href="semua-percetakan.html"><i data-feather="copy"></i><span>All Printing
                  Shop</span></a></li>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="printer"></i>
                <span>All Machine</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="mesin-cetak.html">Offset</a></li>
                <li><a href="mesin-laminasi.html">Laminate</a></li>
                <li><a href="mesin-pond.html">Die Cutting</a>
                </li>
                <li><a href="mesin-poli.html">Hot Print</a></li>
              </ul>
            </li>
            <li class="menu-tunggal"><a href="semua-toko-kertas.html"><i data-feather="credit-card"></i><span>All Paper
                  Shop</span></a></li>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="file-text"></i>
                <span>All Papers</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="kertas-group.html">Paper Group</a></li>
                <li><a href="kertas-ukuran.html">Paper Size</a></li>
                <li><a href="kertas-jenis.html">Paper Type</a></li>
                <li><a href="kertas-harga.html">Paper Price</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- PRODUCT -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">PRODUCTS & SERVICES</h6>
          <ul>
             <li class="menu-tunggal">
              <a href="create-product.html">
                <i data-feather="plus-square"></i>
                <span>Create Product</span>
              </a>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="gift"></i>
                <span>Custom Category</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>
                <li>
                  <a href="cetak-full-color.html">
                    <span>Cetak Full Color</span>
                  </a>
                </li>
                <li>
                  <a href="calender.html">
                    <span>Calender</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="list"></i>
                <span>Services Category</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="mesin-cetak-self.html">
                    <span>Printing</span>
                  </a></li>
                <li><a href="mesin-laminasi-self.html">
                    <span>Laminate</span>
                  </a></li>
                <li><a href="mesin-pond-self.html">
                    <span>Die Cutting</span>
                  </a></li>
                <li><a href="mesin-poli-self.html">
                    <span>Hot Print</span>
                  </a></li>
              </ul>
            </li>
            <!-- <li class="menu-tunggal">
              <a href="">
                <i data-feather="list"></i>
                <span>Service List</span>
              </a>
            </li> -->
            
            <li class="menu-tunggal">
              <a href="product-list.html">
                <i data-feather="box"></i>
                <span>Product List</span>   
              </a>
            </li>
          </ul>
        </li>
        <!-- PRODUCT -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">PAPER SHOP</h6>
          <ul>
            
            <li class="menu-tunggal">
              <a href="kertas-group-self.html">
                    <i data-feather="folder"></i>
                    <span>Paper Group</span>
                  </a></li>
            </li>
            <li class="menu-tunggal">
              <a href="kertas-ukuran-self.html">
                    <i data-feather="maximize-2"></i>
                    <span>Paper Size</span>
                  </a>
            </li>
            <li class="menu-tunggal">
              <a href="kertas-harga-self.html">
                <i data-feather="dollar-sign"></i>

                    <span>Paper Price</span>
                  </a>
            </li>
            <li class="menu-tunggal">
               <a href="kertas-jenis-self.html">
                    <i data-feather="list"></i>
                    <span>Paper List</span>
                  </a>
            </li>
            
          </ul>
        </li>

        <!-- INVENTORY -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">INVENTORY</h6>
          <ul>


           
            <li class="menu-tunggal"><a href="category.html">
                <i data-feather="codepen"></i>
                <span>Category</span>
              </a></li>
            <li class="menu-tunggal">
              <a href="sub-category.html">
                <i data-feather="speaker"></i>
                <span>Sub Category</span>
              </a>
            </li>
            <li class="menu-tunggal"><a href="unit.html">
                <i data-feather="git-commit"></i>
                <span>Unit</span>
              </a></li>
            <li class="menu-tunggal"><a href="variant.html">
                <i data-feather="layers"></i>
                <span>Variant</span>
              </a></li>
            
           <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="list"></i>
                <span>Components</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>

                <li><a href="komponen-minimum.html">
                    <span>Minimum</span>
                  </a></li>
                <li><a href="komponen-fiks.html">
                    <span>Fix</span>
                  </a></li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- purchases -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">PURCHASES</h6>
          <ul>
            <li class="menu-tunggal"><a href="purchase.html">
                <i data-feather="shopping-bag"></i>
                <span>Purchase</span>
              </a>
            </li>
            <li class="menu-tunggal"><a href="purchase-order.html">
                <i data-feather="file-minus"></i>
                <span>Purchase Order</span>
              </a></li>
            <li class="menu-tunggal"><a href="purchase-return.html">
                <i data-feather="refresh-cw"></i>
                <span>Purchase Return</span>
              </a></li>
            <li class="menu-tunggal"><a href="purchase-item.html">
                <i data-feather="package"></i>
                <span>Purchase Item</span>
              </a></li>
            <li class="menu-tunggal"><a href="purchase-category.html">
                <i data-feather="grid"></i>
                <span>Purchase Category</span>
              </a></li>
          </ul>
        </li>


        <!-- PROMO -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">PROMO</h6>
          <ul>
            <li class="menu-tunggal">
              <a href="voucher.html">
                <i data-feather="tag"></i>
                <span>Voucher</span>
              </a>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="trending-down"></i>
                <span>Discount</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>
                <li>
                  <a href="discount-plan.html">
                    <span>Discount plan</span>
                  </a>
                </li>
                <li>
                  <a href="discount.html">
                    <span>Discount</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- FINANCE & ACCOUNT -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">FINANCE & ACCOUNT</h6>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="external-link"></i>
                <span>Expense</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="expenses.html">
                    <span>Expenses</span>
                  </a></li>
                <li><a href="expense-category.html">
                    <span>Expense category</span>
                  </a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="file-plus"></i>
                <span>Income</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="income.html">
                    <span>Income</span>
                  </a></li>
                <li><a href="income-category.html">
                    <span>Income category</span>
                  </a></li>
              </ul>
            </li>
            <li class="menu-tunggal">
              <a href="payments.html">
                <i data-feather="credit-card"></i>
                <span>Payments</span>
              </a>
            </li>
            <li class="menu-tunggal">
              <a href="balance-account.html">
                <i data-feather="credit-card"></i>
                <span>Balance Account</span>
              </a>
            </li>
            <li class="menu-tunggal">
              <a href="bank-account.html">
                <i data-feather="credit-card"></i>
                <span>Bank Account</span>
              </a>
            </li>
            <li class="menu-tunggal">
              <a href="money-transfer.html">
                <i data-feather="share"></i>
                <span>Money Transfer</span>
              </a>
            </li>
            <li class="menu-tunggal">
              <a href="balance-sheet.html">
                <i data-feather="pie-chart"></i>
                <span>Balance Sheet</span>
              </a>
            </li>
            <li class="menu-tunggal">
              <a href="cash-flow.html">
                <i data-feather="git-branch"></i>
                <span>Cash Flow</span>
              </a>
            </li>
            <li class="menu-tunggal">
              <a href="account-statement.html">
                <i data-feather="pie-chart"></i>
                <span>Account Statement</span>
              </a>
            </li>
            <li class="menu-tunggal">
              <a href="cash-advance.html">
                <i data-feather="git-branch"></i>
                <span>Cash Advance</span>
              </a>
            </li>
            <li class="menu-tunggal">
              <a href="incentive.html">
                <i data-feather="share"></i>
                <span>Incentive </span>
              </a>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);">
                <i data-feather="database"></i>
                <span>Tax</span>
                <span class="menu-arrow"></span>
              </a>
              <ul>
                <li><a href="output-tax.html">
                    <span>Output Tax</span>
                  </a></li>
                <li><a href="input-tax.html">
                    <span>Input Tax</span>
                  </a></li>
                <li><a href="tax-rates.html">
                    <span>Tax Rates</span>
                  </a></li>


                <!-- <li><a href="income-tax-article-25-bank.html">
                    <span>Income Tax Article 25 Bank</span>
                  </a></li> -->
              </ul>
            </li>
          </ul>
        </li>

        <!-- Peoples -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">PEOPLES</h6>
          <ul>
            <li class="menu-tunggal"><a href="customers.html"><i data-feather="user"></i><span>Customers</span></a></li>
            <li class="menu-tunggal"><a href="customer-type.html"><i data-feather="user"></i><span>Customer
                  Types</span></a></li>
            <li class="menu-tunggal"><a href="address.html"><i data-feather="home"></i><span>Address</span></a></li>
            <li class="menu-tunggal"><a href="supplier.html"><i data-feather="users"></i><span>Supplier</span></a></li>
            <li class="menu-tunggal"><a href="store-list.html"><i data-feather="home"></i><span>Branch Store</span></a>
            </li>
        </li>
      </ul>

      <!-- HRM -->
      <li class="submenu-open">
        <h6 class="submenu-hdr">HRM</h6>
        <ul>
          <li class="menu-tunggal"><a href="employees.html"><i data-feather="briefcase"></i><span>Employees</span></a>
          </li>
          <li class="menu-tunggal"><a href="department.html"><i data-feather="git-merge"></i><span>Department</span></a>
          </li>
          <li class="submenu">
            <a href="javascript:void(0);"><i data-feather="calendar"></i><span>Payroll</span><span
                class="menu-arrow"></span></a>
            <ul>
              <li><a href="employee-salary.html">
                  <span>Employee salary</span>
                </a></li>
              <li><a href="payslip.html">
                  <span>Payslip</span>
                </a></li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- REPORT -->
      <li class="submenu-open">
        <h6 class="submenu-hdr">REPORT</h6>
        <ul>
          <li class="submenu">
            <a href="javascript:void(0);">
              <i data-feather="bar-chart-2"></i>
              <span>Sales Report</span><span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="sales-report.html">
                  <span>Sales Report</span> </a></li>
              <li><a href="best-seller.html">
                  <span>Best Seller</span>
                </a></li>
            </ul>
          </li>
          <li class="menu-tunggal"><a href="purchase-report.html">
              <i data-feather="pie-chart"></i>
              <span>Purchase Report</span>
            </a>
          </li>
          <li class="menu-tunggal"><a href="invoice-report.html">
              <i data-feather="clipboard"></i>
              <span>Invoice Report</span>
            </a></li>
          <li class="submenu">
            <a href="javascript:void(0);">
              <i data-feather="calendar"></i>
              <span>Supplier Report</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="supplier-report.html">
                  <span>Supplier Report</span>
                </a></li>
              <li><a href="supplier-due-report.html">
                  <span>Supplier Due Report</span>
                </a></li>
            </ul>
          </li>
          <li class="submenu">
            <a href="javascript:void(0);">
              <i data-feather="calendar"></i>
              <span>Customers Report</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="customer-report.html">
                  <span>Customer Report</span>
                </a></li>
              <li><a href="customer-due-report.html">
                  <span>Customer Due Report</span>
                </a></li>
              <li><a href="customer-due-report.html">
                  <span>Customer Subscription</span>
                </a></li>
            </ul>
          </li>
          <li class="menu-tunggal"><a href="product-report.html"><i data-feather="package"></i><span>Product
                Report</span></a></li>
          <li class="menu-tunggal"><a href="expense-report.html"><i data-feather="server"></i><span>Expense
                Report</span></a></li>
          <li class="menu-tunggal"><a href="income-report.html"><i data-feather="database"></i><span>Income
                Report</span></a></li>
          <li class="menu-tunggal"><a href="tax-report.html"><i data-feather="database"></i><span>Tax
                Report</span></a></li>
          <li class="menu-tunggal"><a href="profit-and-loss.html"><i data-feather="pie-chart"></i><span>Profit &
                Loss</span></a></li>
          <li class="menu-tunggal"><a href="annual-reports.html"><i data-feather="align-center"></i><span>Annual
                Report</span></a></li>
        </ul>
      </li>

      <!-- BLOG -->
      <li class="submenu-open">
        <h6 class="submenu-hdr">CONTENT</h6>
        <ul>
          <li class="menu-tunggal"><a href="all-blog.html"><i data-feather="life-buoy"></i><span>All Blog</span></a>
          </li>
          <li class="menu-tunggal"><a href="blog-tag.html"><i data-feather="hash"></i><span>Blog Tag</span></a></li>
          <li class="menu-tunggal"><a href="blog-category.html"><i data-feather="sliders"></i><span>Blog
                Category</span></a>
          </li>
          <li class="menu-tunggal"><a href="blog-comment.html"><i data-feather="edit"></i><span>Blog Comment</span></a>
          </li>
          <li class="submenu">
            <a href="javascript:void(0);">
              <i data-feather="help-circle"></i>
              <span>FAQ</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="faq-category.html">
                  <span>Category</span>
                </a></li>
              <li><a href="faq.html">
                  <span>FAQ Question</span>
                </a></li>
            </ul>
          </li>
          <li class="menu-tunggal"><a href="our-client.html"><i data-feather="users"></i><span>Our Client</span></a>
          </li>
          <li class="menu-tunggal"><a href="download-files.html"><i data-feather="paperclip"></i><span>Download
                Files</span></a></li>
          <li class="menu-tunggal"><a href="footer.html"><i data-feather="underline"></i><span>Footer</span></a></li>
          <li class="menu-tunggal"><a href="banner.html"><i data-feather="layout"></i><span>Banner</span></a></li>
        </ul>
      </li>

      <!-- User Management -->
      <li class="submenu-open">
        <h6 class="submenu-hdr">USER MANAGEMENT</h6>
        <ul>
          <li class="menu-tunggal"><a href="user.html"><i data-feather="user-check"></i><span>All Members</span></a>
          </li>
          <li class="menu-tunggal"><a href="user-admin.html"><i data-feather="user-check"></i><span>User
                Admin</span></a></li>
          <li class="menu-tunggal"><a href="role-permissions.html"><i data-feather="shield"></i><span>Role</span></a>
          </li>
          <li class="menu-tunggal"><a href="role.html"><i data-feather="shield"></i><span>Permissions</span></a></li>
          <li class="menu-tunggal"><a href="delete-account.html"><i data-feather="user-minus"></i><span>Delete Account
                Request</span></a>
          </li>
        </ul>
      </li>

      <!-- Setting -->
      <li class="submenu-open">
        <h6 class="submenu-hdr">SETTING</h6>
        <ul>
          <li class="submenu">
            <a href="javascript:void(0);">
              <i data-feather="globe"></i>
              <span>Webstore Setting</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>

              <li><a href="profile.html">
                  <span>Profile</span>
                </a></li>
              <li><a href="company-setting.html">
                  <span>Company Setting</span>
                </a></li>

            </ul>
          </li>

          <li class="submenu submenu-two">
            <a href="javascript:void(0);">
              <i data-feather="globe"></i>
              <span>Locations</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="province.html">Province</a></li>
              <li><a href="regency.html">Regency </a></li>
              <li><a href="district.html">District</a></li>
            </ul>
          </li>

          <li class="submenu">
            <a href="javascript:void(0);">
              <i data-feather="smartphone"></i>
              <span>App Setting</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="invoice-setting.html">
                  <span>Invoice setting</span>
                </a></li>
              <li><a href="inovice-template.html">
                  <span>Invoice template</span>
                </a></li>
              <li><a href="pos-settings.html">
                  <span>POS</span>
                </a></li>
            </ul>
          </li>
          <li class="submenu">
            <a href="javascript:void(0);">
              <i data-feather="monitor"></i>
              <span>System Setting</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="email-setting.html">
                  <span>Email setting</span>
                </a></li>
              <li><a href="language-setting.html">
                  <span>Language</span>
                </a></li>
              <li><a href="otp.html">
                  <span>OTP</span>
                </a></li>
            </ul>
          </li>


          <li class="menu-tunggal"><a href="prefixes.html">
              <i data-feather="settings"></i>
              <span>Prefixes</span>
            </a></li>
          <li class="menu-tunggal">
            <a href="signout.html">
              <i data-feather="log-out"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </li>
      </ul>
    </div>
  </div>
</div>
<!-- /Sidebar -->
